name: ios_fastlane_tests

on:
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  tests:
    name: ios_fastlane_tests
    runs-on: macos-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v3

    - name: Select Xcode Version
      uses: maxim-lobanov/setup-xcode@v1
      with:
        xcode-version: '16.4.0'

    - name: Setup Ruby
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: 2.7.4
        bundler-cache: true

    - name: Setup Fastlane
      run: |
        bundle install

    - name: Run SDK tests
      run: |
        bundle exec fastlane test_sdk

    - name: Run SampleApp tests
      run: |
        bundle exec fastlane test_sample_app